.mainview-contianer {
  padding: 80px 50px 80px 50px;
  .innercontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__trade-with-badge {
      color: #ddd;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: -25px;
    }
    &__promotion-heading {
      color: #fff;
      font-family: Roboto;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 42px;
      text-align: center;
      margin-bottom: 5px;
    }
    &__promotion-details {
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      margin-bottom: 25px;
    }
    &__open-account-btn {
      align-self: center;
      width: 345px;
      height: 40px;
      background: #29a643;
      border: 0px;
      border-radius: 0px;
      text-align: center;
      font-family: "Bebas Neue Pro";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 10px;
    }
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
      color: none;
      border-color: none;
    }
    &__demo-account {
      align-self: center;
      color: #fff;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-decoration-line: underline;
    }
    &__conditions {
      align-self: center;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &--red {
        color: #d51820;
      }
    }
  }
}
