.xmfeatures {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  margin-top: 80px;
  &__question {
    align-self: center;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 42.62px; /* 121.772% */
  }
  &__divider {
    width: 70px;
    height: 2px;
    background: #29a643;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__answer {
    align-self: center;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 641px;
    margin-bottom: 20px;
    @media (max-width: 450px) {
      width: 280px;
    }
  }
  &__card {
    border-radius: 10px;
    background: #0b0819;
    backdrop-filter: blur(45px);
    border-color: #0b0819;
    min-height: 260px;
    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
    &--competitive {
      @media (min-width: 1024px) {
        margin-bottom: 30px;
      }
    }
    &__heading-row {
      display: flex;
      justify-content: space-between;
      &__text {
        color: #fff;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 120% */
        width: 190px;
        padding-top: 30px;
      }
      &__img {
        &--vertical {
          width: 100px;
          height: 212.121px;
          margin-top: 73px;
        }
        &--competitive {
          width: 98px;
          height: 95.846px;
          flex-shrink: 0;
          @media (max-width: 1024px) {
            width: 41.463px;
            height: 87.953px;
            flex-shrink: 0;
          }
          @media (max-width: 450px) {
            width: 26.829px;
            height: 56.911px;
            flex-shrink: 0;
          }
        }

        width: 72.318px;
        height: 74px;
        flex-shrink: 0;
        @media (max-width: 1024px) {
          width: 41.463px;
          height: 72.953px;
          flex-shrink: 0;
        }
        @media (max-width: 450px) {
          width: 26.829px;
          height: 56.911px;
          flex-shrink: 0;
        }
      }
    }
    &__desc {
      color: #fff;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
      margin-bottom: 30px;
      &--large {
        width: 405px;
      }
      &--small {
        width: 225px;
      }
    }
  }
}
